.tablediv1{
    
    position: relative;
    top: 8%;
    display: flex;
    flex:2;
    justify-content:center;
    // position: relative;
    left: 20%;
    // top: 100px;
    width: 60vw;
    font-size: 1rem;
    border: 1ch;
    border-style: double;


}