.addOffer{
  width: 100vw;
  align-items: center;
  justify-content: center;
//   text-align: center;
  align-content: center;
    .formAddOffer{
        align-content: center;
        position: relative;
        border: 1mm;
        border-style:solid ;
   width: 30vw;
   left: 35%;
 
    }

    input{
     
        width: 29vw;
    }
    .textfield1{
        height: 10vh;

    }
}
