.tablediv1{
    justify-content: center;
    position: relative;
    left: 35%;
    width: 30vw;
    border-style: double;

    .backbtn{
        position: relative;
    }


    .table{
        width: 30vw;
    }


    .editaddbtn{
        width: 7vw;
    }
    .grpbtn{
        width: 10vw;
    }
}

.dataDiv{
    text-align: center;
}

.tablediv {
    display: flex;
    flex: 2;
    justify-content: center;
    // position: relative;
    // left: 35%;
    // top: 100px;
    // width: 100vw;
    font-size: 1rem;
    border: 1ch;
    border-style: double;


}
