.course{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(119, 74, 74, 0.678) ;
    width: 40vw;
    height:30vh;
    font-size: 1rem;
    // width: 30vw;
    .btnreg{
        // height: 3vh;
        // text-align: center;
        justify-content: center;
    }
 
}