// .calbtn{
//     width: 20vw;
//     height: 5vh;
//     position: absolute;
//     top:10%;
//     left: 30vw;

//     // background-color: rgba(151, 144, 136, 0.705);
// }


.maindiv{
    position: relative;
    justify-content: center;
    display: flex;
    
h3{

    font-size: 1rem;
    position: relative;
    top: 5vw;
}
    .courses{
    // align-items: center;

        position: absolute;
        //  left: 5vw;
        top: 10vw;
        display: flex;
        flex-direction: row;
    }
}
